@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vos styles globaux personnalisés */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f7fafc;
    color: #2d3748;
  }
  @keyframes gradient-x {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
  @keyframes float {
    0%, 100% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-20px) scale(1.05); }
  }
  
  @keyframes float-reverse {
    0%, 100% { transform: translateY(0) scale(1); }
    50% { transform: translateY(20px) scale(0.95); }
  }
  
  .animate-float {
    animation: float 8s ease-in-out infinite;
  }
  
  .animate-float-reverse {
    animation: float-reverse 8s ease-in-out infinite;
  }
  
  .hover\:shadow-indigo-glow:hover {
    box-shadow: 0 4px 20px rgba(99, 102, 241, 0.3);
  }
/* Styles spécifiques pour l'impression */
@media print {
  /* Masque tous les éléments sauf ceux nécessaires pour l'impression */
  body * {
    visibility: hidden;
  }

  /* Affiche uniquement le contenu à imprimer */
  #print-table,
  #print-table * {
    visibility: visible;
  }

  /* Réinitialise la mise en page pour l'impression */
  #print-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* Style pour le titre */
  #print-table h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  /* Style pour la description sous le titre */
  #print-table p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }

  /* Style pour le tableau */
  #print-table table {
    width: 100%;
    border-collapse: collapse;
  }

  #print-table th,
  #print-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
  }

  #print-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
}
